<h1> <%= @item.name %> </h1>
<% @item.images.each do |image| %>
<%= image_tag image.url %>
<% end %><br>
Daily Rate: <%= @item.price %><br>
Renter: <%= @item.owner_name %><br>
Availiblity: <%= @item.available? %>

<%= button_to "Rent Item", {controller: "rentings", action: "new"}, method: :get, params:{item_id: @item.id} if @item.available? && @item.user.id != session[:user_id]%>

<%= button_to "Edit Item", edit_item_path(@item), method: :get if @item.user.id == session[:user_id]%>
