<h2> <%= @item.name %> </h2>
<% @item.images.each do |image| %>
<%= image_tag image.url, class: "float-left" %>
<% end %><br>
<h3>Daily Rate: <%= @item.price %></h3>
<h3>Renter: <%= @item.owner_name %></h3>
<h3>Availablity: <%= @item.available? ? "Available" : "Not Available" %> </h3>

<%= button_to "Rent Item", {controller: "rentings", action: "new"}, method: :get, params:{item_id: @item.id} if @item.available? && @item.user.id != session[:user_id]%>

<%= button_to "Edit Item", edit_item_path(@item), method: :get if @item.user.id == session[:user_id]%>
  <%= button_to "Delete Item", item_path(@item), method: :delete if @item.user.id == session[:user_id]%>
