<h2> <%= @item.name %> </h2>
<% @item.images.each do |image| %>
<%= image_tag image.url, class: "float-left" %>
<% end %><br>
<h3><%= @item.description%></h3>
<h3>Hourly Rate: $<%= sprintf('%.2f', @item.price) %></h3>
<h3>Renter: <%= link_to @item.owner_name, user_path(@item.owner) %></h3>
<h3>Availablity: <%= @item.available? ? "Available" : "Not Available Until #{@item.rentings.last.calculate_due_date.strftime("%d %B %H:%M")}" %> </h3>

<%= button_to "Rent Item", {controller: "rentings", action: "new"}, method: :get, params:{item_id: @item.id} if @item.available? && @item.user.id != session[:user_id]%>

<%= button_to "Edit Item", edit_item_path(@item), method: :get if @item.user.id == session[:user_id]%>
<%= button_to "Delete Item", item_path(@item), method: :delete if @item.user.id == session[:user_id]%>
