<h1>Edit Review Content</h1>

<% if flash[:errors] %>
  <%flash[:errors].each do |message| %>
    <%= message %><br>
  <% end %>
<% end %><br>

<%= form_for @review do |f| %>
  <%= f.hidden_field :renting_id, value: @review.renting_id%>
  <%= f.label :content%>
  <%= f.text_area :content %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.submit %>
<% end %>
