<!DOCTYPE html>
<html>
  <head>
    <title>FriendlyNeighbor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Browse Items", items_path %> <%= link_to "Find a Neighbor", users_path%> <%= link_to "Logout", controller: "sessions", action: "destroy"%> <%= link_to "My Profile", user_path(session[:user_id]) if session[:user_id]%> <%= User.find(session[:user_id]).name if session[:user_id] %>
    </header>
    <div class="content-container">

     <%= yield %></div>
  </body>
</html>
